---
layout: default
---
<!-- paper.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">
              {%- if page.coauthors -%}
                with {{ page.coauthors }}
              {%- endif -%}
            </p>
          </header>

          <article>

            {% include paper_links.html paper=page %}

            {%- if page.abstract %}
            <h2>Abstract</h2>
            <p>{{ page.abstract }}</p>
            {%- endif %}

            {{ content }}

            {%- if page.jel %}
            <p><strong>JEL Codes:</strong> {{ page.jel }}</p>
            {%- endif %}

          </article>

        </div>
